@* <html> *@
@* <body> *@
@* <h1>Welcome, @Model.Name!</h1> *@
@* <p>We are excited to have you join DigiReads. Your email is: @Model.Email.</p> *@
@* </body> *@
@* </html> *@

<html>
<body>
<h1>Welcome, @Model.Name!</h1>
<p>We are excited to have you join DigiReads. Your email is: @Model.Email.</p>
</body>
</html>
